<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wall-E | Home Page</title>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>

   <section class="main">
       <div class="image-gallery">
            <% for(var  i=0;i<data.length;i++){ %>
                    <img src="<%= data[i].small %>" class="image"/>
            <% } %>
       </div>
   </section> 
  
</body>
</html>