<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wall-E | Home Page</title>
    <link rel="stylesheet" href="/css/style.css" >
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" >
  
</head>
<body>

    <section class="backdrop">
        <div class="background-container">
            <img src="/images/back.jpg" alt="just a black background">
        </div>
        <div class="form">
            <form method="GET" >
                <input type="text" name="search" />
                <button type="submit">
                    Search
                </button>
            </form>
        </div>
    </section>
   <section class="main">
       <div class="image-gallery">

                <% for(var  i=0;i<data.length;i++){ %>
                    <div class="image-box">

                        <div class="iamge">
                            <img src="<%= data[i].small %>" class="image"/>
                        </div>

                        <div class="options">
                            <span>
                                <a href="<%=data[i].raw %>" target="__blank">Raw</a>
                            </span>
                            <span>
                                <a href="<%=data[i].full %>" target="__blank">Full</a>
                            </span>
                        </div>

                     </div>
                <% } %>

             
       </div>
   </section> 

   <section>
       
   </section>
  
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
</body>
</html>