body{
    background: #141411;
    margin:0;
    padding: 0;
    overflow-x: hidden;

}

.main{
    width:100vw;
    height: auto;
}

.image-gallery{
    width: 100vw;
    height: auto;
}

.iamge{
    width: 25%;
    height: auto;
    float: left;
    margin: 3%;
}

.iamge img{
    width:100%;
    height: auto;
    margin: 3%;
}

.backdrop{
    width: 100vw;
    height: auto;
    max-height: 70vh;
}

.backdrop img{
    width: 100%;
    height: auto;
    max-height: 70vh;
}

